In [23]:
import pandas as pd
import random

In [5]:
df_users = pd.read_csv('../data/df_users_train.csv')
df_users.head()

   Unnamed: 0   BGGId  Rating             Username  isTest
0           0  121657     7.0       Marechallannes   False
1           1  121657     7.0             crash331   False
2           2  121657     7.0  houseofgamesfremont   False
3           3  121657     7.0         randywilburn   False
4           4  121657     7.0          Lord Kalbut   False

# 1. Formar grupos

In [39]:
users = df_users.Username.unique()
users[:2]

array(['Marechallannes', 'crash331'], dtype=object)

In [40]:
len(users) / (2 + 3 + 4 + 5 + 6 + 7 + 8)

7461.228571428572

In [41]:
users = list(users)
for _ in range(2):
    random.shuffle(users)

def select_n(n=2):
    global users
    selected = []
    while len(selected) < n:
        usr = users.pop()
        selected.append(usr)
    return selected


grupos = []
for _ in range(7461):
    for gz in range(2, 9):
        grupos.append(select_n(gz))
grupos.append(select_n(8))
len(users)

0

In [50]:
df_groups = pd.DataFrame({'members': grupos})
df_groups.head()

                                             members
0                                [thorinbei, markbo]
1                [Juanme11, clangroth, jorgedmegias]
2     [The_Local_Gamer, hqbwk, grouik5962, Dominiek]
3  [robogriff, Hyper3116, Jeko76, bhedwyre, mike_...
4  [krz216, Taniapsico, lazatq15, mdebont, dmgall...

In [51]:
df_groups.to_csv('../data/df_groups.csv', index=False)

In [52]:
df_groups = pd.read_csv('../data/df_groups.csv')

In [53]:
df_groups

                                                 members
0                                ['thorinbei', 'markbo']
1              ['Juanme11', 'clangroth', 'jorgedmegias']
2      ['The_Local_Gamer', 'hqbwk', 'grouik5962', 'Do...
3      ['robogriff', 'Hyper3116', 'Jeko76', 'bhedwyre...
4      ['krz216', 'Taniapsico', 'lazatq15', 'mdebont'...
...                                                  ...
52223  ['Gdwyatt77', 'Nagz316', 'Salmmy', 'wrkeech', ...
52224  ['lenahajo', 'BGAStephan', 'dkam136', 'MHBA200...
52225  ['doodoo86', 'eaterofsuns', 'skunk21', 'Solben...
52226  ['millenium_baby', 'K80_k', 'FootysAngle', 'TR...
52227  ['Eberhart', 'Czexx', 'alexmitko', 'Ezzabella'...

[52228 rows x 1 columns]